.LabelsPad {padding-top: 10px; float: left}
.InTexWid {width: 35em;}
.InTexWid32 {width: 32em;}
.ConfirmBottonMarg{margin-right: 11px; padding-right:36px;}
.Container115{ width:115%; float:left;}
.CContainer70{ width:70%; float:right;}
.Container57{ width:57%; float:left;}
.Container43{ width:43%; float:left;}
.Container35{ width:35%; float:left;}
.CContainer20{ width:20%; float:none;}
